:root {
  --color-fondo: #ebf0f6;
  --color-texto: #273447;
  --color-pfondo: #758394;
}

* {
  box-sizing: border-box;
}

*:hover {
    cursor: default;
}

body {
  margin: 0;
  background-color: var(--color-fondo);
  font-family: 'Raleway', Calibri;
  color: var(--color-texto);
}
a {
  color: inherit;
  text-decoration: none;

}

.principal, .pie {
  color: var(--color-pfondo);
  padding: 10px 30px;
}

footer.pie a, header.principal a {
  color: inherit;
}

.pie a:hover, .principal a:hover {
  color: var(--color-texto);
  font-weight: normal;
  transition: 1s;
}

footer.pie {
  font-size: small;
  font-style: oblique;
  text-align: center;
}

section.poemas, section.poemas img{
  font-style: italic;
  text-align: center;
}

section.poemas img {
  width: 1000px;
}

section.poemas p{
  margin: auto 200px;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin: 0 auto 20px;
}

h2.home {
  text-align: center;
  font-size: 65px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 40px;
  margin: 0;
}

.pie li {
  list-style: none;
  text-decoration: underline;
  display: inline-block;
  padding: 2px;
}

.principal ul{
  padding: 0 0 0 30px;
}

.principal li {
  list-style: none;
  text-transform: uppercase;
  font-weight: 400;
  padding: 3px;
  display: inline-block;
}
h3 {
  font-size: 30px;
  font-weight:bold;
}

main.contacto h3 {
  font-size: 25px;
  font-weight:normal;
}

main.contacto p {
  font-size: 20px;
}

main.contacto iframe {
  margin: 0 auto;
  display: block;
  width: 85%;
}
