body{
  background-color: #EBF0F6;
  font-family: 'Raleway', Calibri;
  color: #273447;
}
a {
  color: #273447;
  text-decoration: none;
}

header.principal, footer.pie, header.principal a, footer.pie a {
  color:#758394;

}

footer.pie{
  font-size: small;
  font-style: oblique;
  text-align: center;

}

section.poemas, section.poemas img{
  font-style: italic;
  text-align: center;
}

section.poemas img {
  width: 1000px;

}

h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}

h2.home {
  text-align: center;
  font-size: 65px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 40px;
}

footer.pie nav li {
  list-style: none;
  text-decoration: underline;
}

header.principal nav li{
  list-style: none;
  text-transform: uppercase;
  font-weight: 400;
}
h3{
  font-size: 30px;
  font-weight:bold;
}
main.contacto h3{
  font-size: 25px;
  font-weight:normal;
}
main.contacto p{
  font-size: 20px;
}
